@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
  margin: 0; height: 100%;
  overflow: hidden !important;
}


body {
  /* background-image: linear-gradient(#fdfbfb, #ebedee); */
  /* background-color: lightgrey; */
  background: url(images/tea.jpg);
  background-size: cover;
  display: grid;
  grid-template-areas:
    "topLeft topCenter topRight"
    "centerLeft centerCenter centerRight"
    "bottomLeft bottomCenter bottomRight";
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 30% 1fr 30%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }

  /* #topLeft, #topCenter, #topRight, #centerLeft, #centerCenter, #centerRight, #bottomLeft, #bottomCenter, #bottomRight{
    width: 100%;
    height: 100%;
  } */

  #demo01{
    display: none;
  }

  #description{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    font-weight: 1;
    color: white;
    margin-right: 20px;
  }

  #description:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s;
  }

  #popup{
  display: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  font-weight: 550;
  color: white;
  transition: all 0.5s;
  /* width: 80%;
  height: 80%; */
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  margin-top: 40px;
  /* text-align: center; */
  }

  #hint{
    display: none;
    text: "test";
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 300;
    color: white;
    transition: all 0.5s;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    z-index: 100;
  }

  #recipeInfo{
    display: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    font-weight: 550;
    color: #3A6168;
    transition: all 0.5s;
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
  }

  /* .actions{
    position: relative;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
    display: inline-block;

    bottom: 0px;
    right:25%;
    left:25%;
    position: relative;
    margin: auto;

  } */

   #actions{
     margin: 40px;
     osition: relative;
  }

  /* button{
    margin: 0 auto;
  } */

  /* #bottomCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }  */
  /* #shakeButton{
    margin-top: 0px;
    margin-left: 10px;
  }

  #pourButton{
    margin-top: 0px;
    margin-right: 10px;
  } */

  #disgusting{
    display: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    font-weight: 2000;
    color: white;
    transition: all 0.5s;
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 100px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
  }



  #topCenter{
    font-family: 'Yantramanav', sans-serif;
    font-size: 450%;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 10px;
  }

  #topCenter:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: 800;
    transition: all 0.2s;
  }

  #image{
    /* background-image: url("whi.png"), url("background.jpg"); */
  }

  #homeImage:hover{
    transform: scale(1.1);
    transition: all 0.2s;
  }


  #mixButton{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: solid white;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.5s;
    margin-right: 1px;
  }

  /* #mixButton:hover{
    color: #CBDFD6;
    border: solid #CBDFD6 2px;
  } */

  button{
    display: none;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    background-color: Transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /* border: solid white; */
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.2s;
    margin: auto;
    margin-top: 20px;
  }

  #helpButton{
    position: absolute;
    left: 0;
    bottom: 0;

  }

  #yesButton, #noButton{
    display: inline-block;
    font-size: 100%;
  }

   button:hover, #mixButton:hover{
    transform: scale(1.1);
    font-size: 250%;
    cursor: pointer;
    border: solid 10px;
    transition: all 0.2s;
  }
  /* ul {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 1000;
    padding: 20;
  } */

  #volume{
    background: url(images/unmute.ico) no-repeat;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 48px;
    width: 48px;
  }

#topLeft {
  grid-area: topLeft;
  }
#topCenter {
  grid-area: topCenter;
  }
#topRight {
  grid-area: topRight;
  }
#centerLeft {
  grid-area: centerLeft;
  }
#centerCenter {
  grid-area: centerCenter;
  }
#centerLeft {
  grid-area: centerLeft;
  }
#bottomLeft {
  grid-area: bottomLeft;
  }
#bottomCenter {
  grid-area: bottomCenter;
  }
#bottomRight {
  grid-area: bottomRight;
  }

  /* #container {
    display: none;
    height: 370px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 80px;
    width: 248px;
  } */

  #shaker{
    display: none;
    background: url(images/shaker2.png) no-repeat;
    background-size:contain;
    position: absolute;
    left: 650px;
    top: 220px;
    height: 600px;
    width: 748px;
  }

  /* #homeImage {
    display: none;
    height: 731px;
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: url("whi.png") no-repeat center;
  } */

  /* #sourImage {
    display: none;
    height: 731px;
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: url("sour.jpeg") no-repeat center;
  } */

  /* #container div { position: absolute; } */

  /* .pour {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #black;
    border-radius: 10px
  }

  .pour2 {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #black;
    border-radius: 10px
  }

  .pour3 {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #black;
    border-radius: 10px
  }

  .pour4 {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #black;
    border-radius: 10px
  }

  .pour5 {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #black;
    border-radius: 10px
  }

  .pour6 {
    position: absolute;
    left: 45%;
    width: 20px;
    height: 0px;
    background-color: #black;
    border-radius: 10px
  } */

  /* #beaker {
    border: 10px solid black;
    border-top: 10 solid;
    border-radius: 0 0 30px 30px;
    height: 300px;
    left: 14px;
    bottom: 0;
    width: 180px;
  } */

  /* #beaker:before,
  #beaker:after {
    border: 10px solid grey;
    border-bottom: 0;
    border-radius: 30px 30px 0 0;
    content: '';
    height: 30px;
    position: absolute;
    top: -40px;
    width: 30px;
  } */

  /* #beaker:before { left: -50px; }
  #beaker:after { right: -50px; } */

  /* #liquid {
    background-color: #edaf32;
    border: 10px ;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    height: 0px;
    overflow: hidden;
    width: 180px;
  } */

  /* #liquid:after {
    background-color: rgba(255, 255, 255, 0.25);
    bottom: -10px;
    content: '';
    height: 200px;
    left: -40px;
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(15deg);
    width: 110px;
  } */

#animatedModal{
  background-image: url() no-repeat;
  display: block;
  background-size: auto;
}
#modalText{
  display: block;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  font-weight: 100;
  width: 500px;
  color: white;
  padding: 100px;
  line-height: 40px;
  margin-right: auto;
  margin-top: auto;
}

#sourRecipe{
  display: none;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  font-weight: 100;
  width: 500px;
  color: white;
  padding: 100px;
  line-height: 40px;
}

#congrats{
  position: absolute;
  left: 20px;
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
  font-weight: 300;
  color: white;
  width: 750px;
  margin-top: 100px;
}





/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
    "topLeft topCenter topRight"
    "centerLeft centerCenter centerRight"
    "bottomLeft bottomCenter bottomRight";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
  }
