@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html, body {
  margin: 0; height: 100%;
  /* overflow: hidden !important; */
}

::-webkit-scrollbar {
    display: none;
}


body {
  background: url(images/tea.jpg) no-repeat;
  background-size: cover;


  display: grid;
  grid-template-areas:
    "topLeft topCenter topRight"
    "centerLeft centerCenter centerRight"
    "bottomLeft bottomCenter bottomRight";
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: 30% 1fr 30%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  }
  #demo01{
    display: none;
  }

  #description{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    font-weight: 1;
    color: white;
    margin-right: 20px;
  }

  #description:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s;
  }

  #popup{
  display: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  font-weight: 550;
  color: white;
  transition: all 0.5s;
  /* width: 80%;
  height: 80%; */
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  margin-top: 40px;
  /* text-align: center; */
  }

  #hint{
    display: none;
    text: "test";
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 300;
    color: white;
    transition: all 0.5s;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(255,255,255,0.2);
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    z-index: 100;
  }

  #recipeInfo{
    display: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    font-weight: 550;
    color: #3A6168;
    transition: all 0.5s;
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
  }
   #actions{
     margin: 40px;
     position: relative;
  }

  #topCenter{
    font-family: 'Yantramanav', sans-serif;
    font-size: 450%;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 10px;
  }

  #topCenter:hover{
    cursor: pointer;
    transform: scale(1.1);
    font-weight: 800;
    transition: all 0.2s;
  }

  #mixButton{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: solid white;
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.5s;
    margin-right: 1px;
  }

  button{
    display: none;
    border: none !important;
    outline: none !important;
    box-shadow: none;
    background-color: Transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    /* border: solid white; */
    padding: 10px 20px;
    border-radius: 9px;
    transition: all 0.2s;
    margin: auto;
    margin-top: 20px;
  }

  #helpButton{
    position: absolute;
    left: 0;
    bottom: 0;

  }

  #yesButton, #noButton{
    display: inline-block;
    font-size: 100%;
  }

   button:hover, #mixButton:hover{
    transform: scale(1.1);
    font-size: 250%;
    cursor: pointer;
    border: solid 10px;
    transition: all 0.2s;
  }

  #volume{
    background: url(images/unmute.ico) no-repeat;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 48px;
    width: 48px;
  }

#topLeft {
  grid-area: topLeft;
  }
#topCenter {
  grid-area: topCenter;
  }
#topRight {
  grid-area: topRight;
  }
#centerLeft {
  grid-area: centerLeft;
  }
#centerCenter {
  grid-area: centerCenter;
  }
#centerLeft {
  grid-area: centerLeft;
  }
#bottomLeft {
  grid-area: bottomLeft;
  }
#bottomCenter {
  grid-area: bottomCenter;
  }
#bottomRight {
  grid-area: bottomRight;
  }

#animatedModal{
  background-image: url() no-repeat;
  display: block;
  background-size: cover;
}

#modalText{
  display: block;
  /* text-align: left; */
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  font-weight: 100;
  width: 500px;
  color: white;
  padding: 100px;
  line-height: 40px;
  position: absolute;
}

#sourRecipe{
  display: none;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  font-weight: 100;
  width: 500px;
  color: white;
  padding: 100px;
  line-height: 40px;
}

#congrats{
  position: absolute;
  left: 20px;
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
  font-weight: 300;
  color: white;
  width: 750px;
  margin-top: 100px;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
    grid-template-areas:
    "topLeft topCenter topRight"
    "centerLeft centerCenter centerRight"
    "bottomLeft bottomCenter bottomRight";
    grid-template-rows: 80px 1fr 70px 1fr 70px;
    grid-template-columns: 1fr;
 }
  }
